# For first-time installation, you'll need to install all plugins:
# Use the script: ./scripts/install-asdf-plugins.sh
# NOTE: please add new plugins to ./scripts/install-asdf-plugins.sh when adding items here
amtool       0.27.0 # datasource=github-releases depName=prometheus/alertmanager
go-jsonnet   0.20.0 # datasource=github-releases depName=google/go-jsonnet
golang       1.23.4 # datasource=golang-version depName=go
jb           0.6.0 # datasource=github-releases depName=jsonnet-bundler/jsonnet-bundler
jsonnet-tool 1.16.2 # datasource=gitlab-releases depName=gitlab-com/gl-infra/jsonnet-tool
kubectl      1.31.3 # datasource=github-releases depName=kubernetes/kubernetes
kubeconform  0.6.7 # datasource=github-releases depName=yannh/kubeconform
nodejs       22.11.0 # datasource=node depName=nodejs/node
pre-commit   4.0.1 # datasource=github-releases depName=pre-commit/pre-commit
promtool     3.0.1 # datasource=github-releases depName=prometheus/prometheus
python       system
ruby         3.3.6 # datasource=ruby-version depName=ruby/ruby
shellcheck   0.10.0 # datasource=github-releases depName=koalaman/shellcheck
shfmt        3.10 # datasource=github-releases depName=mvdan/sh
terraform    1.9.8 # datasource=github-releases depName=hashicorp/terraform
thanos       0.37.0 # datasource=github-releases depName=thanos-io/thanos
vault        1.18.2 # datasource=github-releases depName=hashicorp/vault
yq           4.44.5 # datasource=github-releases depName=mikefarah/yq
mimirtool    2.12.0
