{{ define "gitlab.title" }}
    {{- if .GroupLabels.type -}}
        {{- printf "%s - Service %s" (.Status | title) .GroupLabels.type -}}
    {{- else -}}
        {{- printf "%s - %s" (.Status | title) .CommonAnnotations.title -}}
    {{- end -}}
{{ end }}

{{ define "gitlab.text" }}
    {{- if eq .Status "firing" -}}
        {{- printf ":fire: Alerts :fire:\n" -}}

        {{- range .Alerts -}}
            {{- if .GeneratorURL -}}
                {{- printf "*<%s|%s:>*\n" .GeneratorURL .Labels.alertname -}}
            {{- else -}}
                {{- printf "*%s*\n" .Labels.alertname -}}
            {{- end -}}
            {{- printf "%s\n\n" .Annotations.title -}}
            {{- printf "%s\n\n" .Annotations.description -}}
        {{- end -}}

        {{- if gt (len .CommonLabels) 0 -}}
            {{- printf "\n:label: Labels :label:\n" -}}

            {{- range .CommonLabels.SortedPairs -}}
                {{- printf "*%s*: %s\n" (.Name | title) .Value -}}
            {{- end -}}
        {{- end -}}
    {{- end -}}
{{ end }}

{{ define "gitlab.runbook.link" }}
  {{- if eq .CommonAnnotations.link "" -}}
    https://ops.gitlab.net/gitlab-com/runbooks/blob/master/{{ .CommonAnnotations.runbook -}}
  {{- else -}}
    {{- .CommonAnnotations.link -}}
  {{- end -}}
{{- end }}
